%footer.footer.mx-auto.bg-dark-2.text-dark
  .row.py-5.px-3.align-items-center.justify-content-center.text-center
    .col-12.col-md.mb-5.mb-md-0.text-light
      %p © 2019 Genesys Project - Team 2
      = link_to 'Privacy'
      %span.mx-3|
      = link_to 'Accessibility'
    .col-12.col-md
      .text-nowrap
        = fa_icon 'facebook-square', class: 'fa-4x text-secondary'
        = fa_icon 'twitter', class: 'fa-4x text-secondary mx-5'
        = fa_icon 'telegram', class: 'fa-4x text-secondary'
